.Rproj.user
.Rhistory
.RData
.Ruserdata
*.csv
*.parquet
*.zip
docs/dashboard/  # Leave it untracked for now
_targets/
.Rprofile
*.png
^_* # Directories which start wiht underscore 
data/*
docs/*
