# R and RStudio files 
*.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile


# Temporary data 
*.zip
*.xlsx


# renv project library
# only commit the renv.lock and renv/activate.R files
renv/**/*

# Directories that can be ignored
report/*



# Any binary word doc files
*.docx

